environment/
predict_single_measures/results/
predict_single_measures/results_no_norm/
predict_single_measures/results_no_norm_full_dataset/
predict_single_measures/results_no_norm_medium_dataset/
predict_single_measures/results_no_norm_small_dataset/

complete_prediction/lr_finder/
complete_prediction/simple_conv_lkrelu/
complete_prediction/simple_dense/
complete_prediction/simple_dense_2/
complete_prediction/simple_dense_3/
complete_prediction/simple_dense_4/
complete_prediction/simple_dense_lkrelu/
complete_prediction/simple_dense_lkrelu_000001/
complete_prediction/test_all_2/
complete_prediction/test_all_3/
complete_prediction/test_all_unnormalized/
complete_prediction/test_pretrained/

